body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digits {
  box-sizing: border-box;
  padding-top: 20px;
}

.digit {
  display: inline-block;
  font-size: 80px;
  box-sizing: border-box;
}

.redDigit {
  color: darkred;
}

button {
  width: 100px;
  height: 30px;
  font-size: 20px;
  margin-top: 10px;
}

.start {
  background: darkred;
  color: white;
  font-size: 20px;
}